<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Template RESTful Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
    <partial name="_StylesPartial" />
</head>
<body>
    <div class="overlay-position bg-page">
        <div class="bg-overlay"></div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
   
    <partial name="_ScriptsPartial" />
    @await Component.InvokeAsync("NotyfNotification")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
