@model AuthSettingsDto

@{
    ViewData["Title"] = "Login with Two Factor Authentication";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="wrapper-form">
            <span class="form-logo">
                <i class="zmdi zmdi-chart"></i>
            </span>
        </div>
        <form class="main-form" method="post">
            <div class="card mt-4">
                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">@ViewData["Title"]</h5>
                    </div>
                    <div class="p-2 mt-4">
                        <div class="mb-3">
                            <div class="message-wrapper">
                                <p class="text-muted">
                                    Enter or paste the <strong>code</strong> that was sent to your email acccount
                                </p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" asp-for="TwoFactorAuthentication" type="number" />
                                <span asp-validation-for="TwoFactorAuthentication" class="text-danger"></span>
                            </div>
                            <div class="mb-2 mt-4">
                                <button class="btn btn-success w-100" type="submit">Authenticate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


