@{
    ViewData["Title"] = "Successful Confirmation";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="wrapper-form">
            <span class="form-logo">
                <i class="zmdi zmdi-chart"></i>
            </span>
            <form class="main-form" method="get">
                <div class="card mt-4">
                    <div class="card-body p-4">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">@ViewData["Title"]</h5>
                        </div>
                        <div class="text-center">
                            <div class="text-success display-3">
                                <i class="ri-checkbox-circle-fill"></i>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="mb-3">
                                <div class="message-wrapper">
                                    <p class="text-muted text-center"> Your email account has been confirmed successfully</p>
                                </div>
                            </div>
                            <div class="mb-2 mt-4">
                                <a asp-controller="Auth" asp-action="Login" class="btn btn-primary w-100" type="submit">
                                    Go back to Login
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>