@model RequestUserDto

@{
    ViewData["Title"] = "Confirm Password Request";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="wrapper-form">
            <span class="form-logo">
                <i class="zmdi zmdi-chart"></i>
            </span>
            <form class="main-form" method="get">
                <div class="card mt-4">
                    <div class="card-body p-4">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">@ViewData["Title"]</h5>
                        </div>
                        <div class="p-2 mt-4">
                            <div class="mb-3">
                                <div class="message-wrapper">
                                    <p class="text-muted">Hello, <strong>@Model.Email</strong></p>
                                    <p class="text-muted">
                                        We have sent you the instructions to this registered
                                        <em>email address</em>, how to change your credentials.
                                    </p>
                                    <p class="text-muted">
                                        Don't forget to check your
                                        <strong>Inbox</strong> or <strong>Spam</strong> folder.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-links">
                    <div class="text-center">
                        <a class="link" asp-controller="Reset" asp-action="ForgotCredentials">Didn't receive an email?</a></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>