@using UserManagementDemo.Domain.Models.DTOs;
@using UserManagementDemo.Domain.Models.Entities;
@using UserManagementDemo.Web.Areas.Accounts.Models;

@inject UserManager<ApplicationUser> UserManager
@model UserProfileViewModel

<nav class="main-header navbar navbar-expand navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>

    <ul class="navbar-nav" style="margin-inline-start: auto;">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-inline-block text-gray-600 small">
                        <strong>Welcome,</strong>
                        @UserManager.GetUserAsync(User).Result.FirstName
                        @UserManager.GetUserAsync(User).Result.LastName
                    </span>
                    <partial name="_AvatarProfilePicture" model="Model" />
                </a>

                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    @if (Model.OnlineProfile.Id != null)
                    {
                        <a class="dropdown-item"
                            asp-area="Accounts" asp-controller="Profiles" asp-action="SaveProfile" asp-route-profileId="@Model.OnlineProfile.Id">
                            <i class="fas fa-user-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            My Profile
                        </a>
                    } else
                    {
                        <a class="dropdown-item"
                            asp-area="Accounts" asp-controller="Profiles" asp-action="SaveProfile">
                            <i class="fas fa-user-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            My Profile
                        </a>
                    }
                   
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Sign out
                    </a>
                </div>
            </li>
        }
    </ul>
</nav>