@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<AccountUser>

<table class="table table-striped" id="onlineAccsTable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Registered Email</th>
            <th>Email Status</th>
            <th>Account Status</th>
            <th>Account Roles</th>
            <th>Admin Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    @account.FirstName
                </td>
                <td>
                    @account.LastName
                </td>
                <td>
                    <a>@account.Email</a>
                </td>
                <td>
                    <small>
                        @if (account.EmailConfirmed)
                        {
                            <span class="badge-pill badge-success">Confirmed</span>
                        }
                        else
                        {
                            <span class="badge-pill badge-danger">Not Confirmed</span>
                        }
                    </small>
                </td>
                <td>
                    @if (account.IsActive)
                    {
                        <span class="badge badge-success">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Inactive</span>
                    }
                </td>
                <td>
                    <span><strong>@string.Join(", ", account.Roles)</strong></span>
                </td>
                <td>
                    <div class="nav-item dropdown no-arrow">
                        <a class="nav-link" id="userPermission" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userPermisson">
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#roleModal">
                                <span class="text-gray-600">
                                    <i class="fas fa-wrench fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Add Permission
                                </span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#onlineAccsTable').DataTable();
        });
    </script>
}



