@using Microsoft.AspNetCore.Identity;
@using TemplateRESTful.Domain.Models.Entities;
@using TemplateRESTful.Web.Areas.Accounts.Models;

@inject UserManager<ApplicationUser> UserManager
@model UserProfileViewModel

<div class="profile-space"></div>
<div class="row">
    <div class="col-xl-3">
        <div class="card avatar-card">
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="avatar-profile mx-auto mb-4">
                        <img src="~/img/avatar-user.png" class="rounded-circle img-thumbnail avatar-image" alt="My profile image" />
                        <div class="rounded-circle p-0 profile-image small-frame">
                            <input id="switch-photo" type="file" class="d-none" />
                        </div>
                    </div>
                    <h5 class="text-medium mb-1">
                        @UserManager.GetUserAsync(User).Result.FirstName
                        @UserManager.GetUserAsync(User).Result.LastName
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body p-4">
                <form method="post" asp-action="UpdateProfile" asp-route-profileId="@Model.OnlineProfile.Id">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label asp-for="OnlineUser.FirstName" class="form-label"></label>
                                <input asp-for="OnlineUser.FirstName" type="text" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label asp-for="OnlineProfile.MiddleName" class="form-label"></label>
                                <input asp-for="OnlineProfile.MiddleName" type="text" class="form-control" />
                                <span asp-validation-for="OnlineProfile.MiddleName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label asp-for="OnlineUser.LastName" class="form-label"></label>
                                <input asp-for="OnlineUser.LastName" type="text" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineUser.PhoneNumber" class="form-label"></label>
                                <input asp-for="OnlineUser.PhoneNumber" type="tel" class="form-control" />
                                <span asp-validation-for="OnlineUser.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineUser.Email" class="form-label"></label>
                                <input asp-for="OnlineUser.Email" type="email" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineProfile.DayOfBirth" class="form-label"></label>
                                <input asp-for="OnlineProfile.DayOfBirth" type="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineProfile.Occupation" class="form-label"></label>
                                <input asp-for="OnlineProfile.Occupation" type="text" class="form-control" />
                                <span asp-validation-for="OnlineProfile.Occupation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineProfile.Website" class="form-label"></label>
                                <input asp-for="OnlineProfile.Website" type="text" class="form-control" />
                                <span asp-validation-for="OnlineProfile.Website" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineProfile.Location" class="form-label"></label>
                                <input asp-for="OnlineProfile.Location" type="text" class="form-control" />
                                <span asp-validation-for="OnlineProfile.Location" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="OnlineProfile.Language" class="form-label"></label>
                                <input asp-for="OnlineProfile.Language" type="text" class="form-control" />
                                <span asp-validation-for="OnlineProfile.Language" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a asp-area="Dashboard" asp-controller="Home" asp-action="Index" type="button" class="btn">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>