@using TemplateRESTful.Domain.Models.DTOs.User;
@model RecoveryUserDto

@if (Model.RecoveryCodesLeft < 2)
{
    <div class="alert alert-danger" role="alert">
        <p>
            <i class="zdmi zdmi-alert-octagon"></i>
            You have only <strong>1 recovery code</strong> left. Be aware you will need to create new ones soon.
        </p>
    </div>
}
else if (Model.RecoveryCodesLeft < 4)
{
    <div class="alert alert-warning" role="alert">
        <p>
           <i class="zdmi zmdi-alert-triangle"></i>
           Warning! You have only <strong>3 recovery codes</strong> left.
       </p>
    </div>
}
else if (Model.RecoveryCodesLeft < 6)
{
    <div class="alert alert-info" role="alert">
        <p>
            <i class="zdmi zdmi-info-outline"></i>
            Note! You have only <strong>5 recovery codes</strong> left.
        </p>
    </div>
}
