﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<div class="d-flex justify-content-center">
    @{
        var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

        @foreach (var provider in providers)
        {
            <form asp-controller="Secure" asp-action="ExternalAuth" method="post">
                <input type="submit" value="@provider.Name" name="provider" class="google-login-btn" />
            </form>
        }
    }
</div>