@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Confirm your Account";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="wrapper-form">
            <span class="form-logo">
                <i class="zmdi zmdi-chart"></i>
            </span>
        </div>
        <form class="main-form" method="get">
            <div class="card mt-4">
                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">@ViewData["Title"]</h5>
                    </div>
                    <div class="text-center">
                        <div class="text-warning display-3">
                            <i class="ri-mail-unread-fill"></i>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="mb-3">
                            <div class="message-wrapper">
                                <p class="text-muted">Thank you for registering an account with <strong>RESTful API services</strong>.</p>
                                <p class="text-muted">
                                    Before accessing your online portal, please verify your account by clicking on the
                                    <a id="confirm-link" href="@Model.EmailConfirmationUrl">confirmation link</a> below.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>