@using Microsoft.AspNetCore.Mvc.Localization
@using TemplateRESTful.Web.Resources
@inject IHtmlLocalizer<SharedResource> localizer

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModal">@localizer["Finished session"]</h5>
                <button class="modal-close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-window-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                @localizer["Are you done with your current session?"]
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">
                    @localizer["Cancel"]
                </button>
                <form class="form-inline" asp-area="Users" asp-controller="Auth" asp-action="Logout" method="get">
                    <button type="submit" class="btn btn-primary">
                        @localizer["Logout"]
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>